body{
    background-color: rgba(96, 125, 139, 0.5);
    margin: 0;
    font-size: 18px;
}

.header{
    padding: 30px;
    text-align: center;
}

#navigation{
    overflow: hidden;
}

#navigation a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}




.project {
    width: 300px;
    height: 500px;
}

.apps-left{
    float: left;
    height: 667px;
    margin-right: 20px;
    width: 375px;
}

.apps-right{
    float: right;
    height: 667px;
    margin-left: 20px;
    width: 375px;
}

.span4{
    margin-right: 10px;
}

.span4 .img-bmi{
    float: left;
}

.span4 .img-passGen{
    float: left;
    height: 379px;
    margin-right: 20px;
    width: 714px;
}

.span4 .img-tacky{
    float: right;
    height: 565px;
    width: 519px;
    margin-left: 20px;
}

.span4 .img-drumKit{
    float: left;
    height: 458px;
    margin-right: 20px;
    width: 800px;
}

.line{
    border-bottom: 5px dotted #343A40;
}

.sectionTitle{
    margin-left: 500px;
}

.row{
    text-align: center;
}

 button {
    display: inline-block;
    color: #343A40;
    font-size: 18px;
    border: 1px solid #343A40;
    border-radius: 2px;
    background: transparent;
  }

  button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #343A40;
    font-weight: 400;
}

.details{
    text-decoration: none;
}