body{
    background-color: rgba(96, 125, 139, 0.5);
    margin: 0;
    font-size: 18px;
}

.header{
    padding: 30px;
    text-align: center;
}

#navigation{
    overflow: hidden;
}

#navigation a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.span4 .img-rpsGame {
    float: left;
    margin-right: 20px;
    width: 60%;
    height: 100%;
}

.span4 .img-digitalClock {
    float: right;
    width: 50%;
    margin-left: 20px;
}

.span4 .img-temp {
    float: left;
    margin-right: 20px;
    width: 40%;
    border: 1px solid #343A40;
}

.span4 .img-passGen{
    float: left;
    margin-right: 20px;
    width: 50%;
}

.span4 .img-tacky{
    float: right;
    width: 50%;
    margin-left: 20px;
}

.span4 .img-drumKit{
    float: left;
    margin-right: 20px;
    width: 50%;
}


.project {
    width: 300px;
    height: 500px;
}

.apps-left{
    float: left;
    margin-right: 20px;
    width: 25%;
}

.apps-right{
    float: right;
    margin-left: 20px;
    width: 25%;
}

.span4{
    margin-right: 10px;
}

.span4 .img-bmi{
    float: left;
}



.line{
    border-bottom: 5px dotted #343A40;
}

.sectionTitle{
    margin-left: 500px;
}

.row{
    text-align: center;
}

 button {
    display: inline-block;
    color: #343A40;
    font-size: 18px;
    border: 1px solid #343A40;
    border-radius: 2px;
    background: transparent;
  }

  button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #343A40;
    font-weight: 400;
}

.span4 .details{
    display: inline-block;
    color: #343A40;
    font-size: 18px;
    border: 1px solid #343A40;
    border-radius: 2px;
    background: transparent;
}

.span4 .details:hover{
    text-decoration: none;
    color: #fff;
    background-color: #343A40;
    font-weight: 400;
}

.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
    margin-top: 50px;
}

.copyrightSection p{
    margin: 0;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    * {
      width:100%;
    }
    button{
        margin: 5px;
        width: 30%;
    }
    .details{
        margin: 5px;
        width: 30%;
    }
}