body{
    font-size: 14px;
    font-family: 'Bitter', serif;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

/* loader styles */

.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center center no-repeat;
}

/* navigation bar styles */

#navigation{
    background-color: #607D8B;
    padding: 20px 10px;
    z-index: 100;
}

#navigation li{
    padding: 0 10px;
}

#navigation li a{
    color: #fff;
}

.fixedNav #navigation{
position: fixed;
top: 0;
width: 100%;
}

.navbar-toggler-icon{
    background: url(../images/icons/menu.png);
    background-size: 100%;
}

.navbar-brand, 
.navbar-brand:hover{
    color: #fff;
}

/* Slider and title page styles  */
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation .prev, 
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../images/icons/back.png);
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../images/icons/next.png);
    }

.titleMessage{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .name{
    font-size: 50px;
}

.titleMessage .heading .sub{
    font-size: 23px;
}

/* about page styles */
.section{
    padding: 100px 0px;
}

.aboutImage{
    max-width: 100%;
}

.cvLink{
    margin-top: 50px;
}

.cv {
    border: 1px solid #607D8B;
    border-radius: 2px;
    color: #607D8B;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 3px;
   }
 
   .cv:hover{
     text-decoration: none;
     color: #fff;
     background-color: #607D8B;
     font-weight: 400;
 }

/* skills page styles */

.skillsSection, 
.contactSection{
    background-color: #607D8B;
    color: #fff;
}

.skill{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content:'%';
}

/* stats page styles */

.statsSection .row{
    justify-content: center;
}

.squareItem{
    margin-top: 30px;
    position: relative; 
}

.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer:before, 
.squareInnerContainer:after{
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.squareInnerContainer:before{
    right: 0px;
}

.squareInnerContainer:after{
    left: 0px;
}

.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #607D8B;
}

.squareContent h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

/* contact page styles */

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

#contactForm{
    display: none;
   
}

.formControl{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

::placeholder{
    color: #fff;
}


form #submit{
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px; 
}

form #submit:hover{
    text-decoration: none;
    color: #607D8B;
    background-color: #fff;
    font-weight: 400;
}

#formButton {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
  }

  #formButton:hover{
    text-decoration: none;
    color: #607D8B;
    background-color: #fff;
    font-weight: 400;
}

.contactButton{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover{
    text-decoration: none;
    color: #607D8B;
    background-color: #fff;
    font-weight: 400;
}

/* projects page styles */

.span4 .img-drumKit{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.span4 .details{
    display: inline-block;
    color: #607D8B;
    font-size: 18px;
    border: 1px solid #607D8B;
    border-radius: 2px;
    background: transparent;
    padding: 5px 3px;
}

.span4 .details:hover{
    text-decoration: none;
    color: #fff;
    background-color: #607D8B;
    font-weight: 400;
}

.projectBtn {
    display: inline-block;
    color: #607D8B;
    font-size: 18px;
    border: 1px solid #607D8B;
    border-radius: 2px;
    background: transparent;
    padding: 5px 3px;
  }

  .projectBtn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #607D8B;
    font-weight: 400;
}

/* copyright page styles */

.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p{
    margin: 0;
}